services:
  - type: web
    name: astrotop-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    rootDir: server
    envVars:
      - key: NODE_ENV
        value: production
      - key: FRONTEND_URL
        value: https://astrotoppro.vercel.app




